<section class="promo">
    <div class="container">
        <ul class="promo__grid">
            <li class="promo__grid-item promo__grid-item__big">
                <a asp-controller="Women" asp-action="Index">
                    <img class="promo__grid-image"
                         src="~/image/beach.jpg" alt="">
                </a>
                
            </li>
            <li class="promo__grid-item promo__grid-item__small">
                <a asp-controller="Women" asp-action="Index">
                    <img class="promo__grid-image"
                         src="~/image/sport.jpg" alt="">
                </a>
            </li>
            <li class="promo__grid-item promo__grid-item__small">
                <a asp-controller="Men" asp-action="Index">
                    <img class="promo__grid-image"
                         src="~/image/child.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>